/* genaral css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background-image: url('../home-img/BG\ Shepes.png');
    background-repeat: no-repeat;
    padding-top: 36px;
    padding-bottom: 36px;
    background-size: cover;
    position: relative;

}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
   

}

* {
    margin: 0;
    padding: 0;
}

:root {
    --eco-primary-font: "Poppins";
    --eco-primary-color: #333333;
    --eco-secondary-color: #808080;
    --eco-buttn-color: #00B207;
    --eco-text-color: #999;
    --eco-heading-color: #1A1A1A;
}

/* --------------------------------------------------
common css
------------------------------------------------------ */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.eco-top-heading p {
    color: var(--eco-buttn-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

.eco-top-heading {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: 8px;
    margin-bottom: 36px;
}

.eco-tag p {
    color: var(--eco-text-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.eco-tag h4 {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.eco-button {
    padding: 16px 40px;
    color: #fff;
    background-color: var(--eco-buttn-color);
    border-radius: 43px;
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

/* ----------------------
heading area
---------------------- */
.eco-logo-serch-input input {
    color: var(--eco-text-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 100%;
}

.eco-logo-serach-button a {
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 0px 4px 4px 0px;
    background: var(--eco-buttn-color);
    color: #fff;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.eco-icon-menu a {
    color: var(--eco-secondary-color);
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    font-family: var(--eco-primary-font);
}

.eco-icon-menu a:hover {
    color: #fff;
}

.eco-icon-menu a i.eco-bar {
    padding: 16px;
    font-size: 32px;

}

.eco-icon-menu a i.eco-bar:hover {
    background-color: #00B207;

}

.eco-primary-main-menu ul li a {
    color: var(--eco-secondary-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

}

.eco-primary-main-menu ul li a:hover,
.eco-primary-main-menu ul li a.active {
    color: #fff;
}

/* ------------------------------------
hero section
----------------------------------- */
.eco-hero-catagory-area {
    border: 1px solid var(--eco-secondary-color);
    width: 312px;

}

.eco-hero-catagory-single-area {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 28px 16px 20px;
}

.eco-hero-catagory-single-area:hover {
    background-color: var(--eco-buttn-color);
    cursor: pointer;
}

.eco-hero-catagory-single-area h6 {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.eco-hero-catagory-single-area i {
    font-size: 24px;
}

.eco-hero-content-area {
    background-image: url('../home-img/ractangle/Rectangle\ 52.png');
    background-repeat: no-repeat;
    width: 984px;
    height: 560px;
    padding-top: 141px;
    padding-bottom: 141px;
    padding-left: 72px;

}

.eco-hero-content-bg {
    width: 100%;
    background-size: cover;

}

.owl-section {
    padding-right: 326px;
}

.eco-hero-single-content-heading h1 {
    color: #FFF;
    font-family: var(--eco-primary-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    padding-right: 323px;

}

.eco-hero-single-content-heading h3 {
    color: rgba(255, 255, 255, 0.60);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 48px;
    padding-right: 716px;
}

.owl-dots {
    position: absolute;
    bottom: -147px;
}

.eco-hero-slider-area .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: green !important;
}

.eco-hero-slider-area .owl-dots .owl-dot.active {
    background-color: var(--eco-secondary-color) !important;
}

/* ----------------------------------
eco-single-about-area
--------------------------------------- */
.eco-single-about-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #999;
    cursor: pointer;
}

.eco-single-about-area:hover {
    border-bottom: 3px solid var(--eco-buttn-color);
}

.eco-single-about-icon i {
    width: 78px;
    height: 78px;
    font-size: 36px;
    color: var(--eco-buttn-color);
    background-color: #EDF2EE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eco-single-about-icon i:hover {
    color: #fff;
    background-color: var(--eco-buttn-color);

}

.eco-single-about-content {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.eco-single-about-content p {
    color: var(--eco-text-color);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* ---------------------------------------
eco-best-deal-area
------------------------------------------- */

.eco-best-deal-area {
    background-image: url('../home-img/ractangle/Rectangle.png');
    width: 100%;
    height: 536px;
    background-repeat: no-repeat;
    padding-top: 35px;
    position: relative;
}

#stopwatch div {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 10px;
}

#stopwatch div span {
    margin-left: 8px;
}

#stopwatch p {
    color: rgba(255, 255, 255, 0.80);
    text-align: start;
    font-family: var(--eco-primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    margin-top: 8px;
}

.eco-fat-meat-area {
    background-image: url('../home-img/ractangle/Rectangle-2.png');
    width: 100%;
    height: 536px;
    background-repeat: no-repeat;
    padding-top: 35px;
}

.eco-suymmer-sale-area {
    background-image: url('../home-img/ractangle/Rectangle-3.png');
    width: 100%;
    height: 536px;
    background-repeat: no-repeat;
    padding-top: 35px;
}

.eco-best-deal-area h6,
.eco-fat-meat-area h6 {
    color: #FFF;
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.eco-best-deal-area h2,
.eco-fat-meat-area h2 {
    color: #FFF;
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: 16px;
    margin-bottom: 8px;
}

.eco-fat-meat-area h5 {
    color: #FFF;
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.eco-fat-meat-area h5 span {
    color: #FF8A00;
    font-family: var(--eco-primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.eco-fruit-sale-button .eco-button {
    background-color: #fff;
    color: #00B207;
}





.eco-suymmer-sale-area h6 {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 14px */
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.eco-suymmer-sale-area h2 {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: 16px;
    margin-bottom: 8px;
}

.eco-suymmer-sale-area h5 span {
    border-radius: 5px;
    background: var(--eco-heading-color);
    padding: 6px 12px;
    color: #FCC900;
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.eco-suymmer-sale-area h5 {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

/* -------------------------------------
eco-top-single
------------------------------------------*/

.eco-top-single:hover {
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    cursor: pointer;
}

.eco-top-single img {
    width: 190px;
    height: 130px;
}

.eco-top-single h6 {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 24px;
}

/*-----------------------------
 fetured area 
------------------------------- */
.eco-fetured-left {
    background-image: url('../home-img/fetures/Image.png');
    background-repeat: no-repeat;
    height: 335px;
    padding-top: 24px;
}

.eco-fetured-single-area-active-icon i {
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 16px;
    display: none;
}

.eco-fetured-single-area-active-icon i.view {
    top: 62px;
    right: 16px;
}

.eco-fetured-left p {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.eco-fetured-left h3 {
    color: var(--eco-buttn-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.eco-fetured-single-area {
    border: 1px solid #E6E6E6;
}

.eco-fetured-single-area:hover .eco-fetured-single-area-active-icon i {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eco-fetured-single-area:hover .eco-single-fetured-content-right-icon i {
    color: #FFF;
    background-color: var(--eco-buttn-color);
    cursor: pointer;

}

.eco-fetured-single-area:hover {
    border: 1px solid var(--eco-buttn-color);
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    position: relative;
    cursor: pointer;
}


.eco-single-fetured-content-left p {
    color: var(--eco-secondary-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.eco-single-fetured-content-left h6 {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.eco-single-fetured-content-left-icon i {
    color: #FF8A00;
    font-size: 10px;
}

.eco-single-fetured-content-left-icon i.active {
    color: #CCCCCC;
}

.eco-single-fetured-content-right-icon i {
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* -------------------------
Products area 
--------------------------- */
.eco-single-product-area {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.single-product-area-content {
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid #E6E6E6;
    padding-top: 7px;
    padding-bottom: 6px;
}

.single-product-area-heading h5 {
    color: var(--eco-heading-color);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.single-product-area-content:hover {
    border: 1px solid var(--eco-buttn-color);
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    cursor: pointer;
}



.single-product-area-content-active p {
    color: #2C742F;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 8px;
}

.single-product-area-content-active-icon i {
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-product-area-content-active-icon i:hover {
    color: #FFF;
    background-color: var(--eco-buttn-color);
    cursor: pointer;
}



.single-eco-product-area-img {
    background-image: url('../home-img/fetures/15.png');
    background-repeat: no-repeat;
    height: 423px;
    padding-top: 32px;
}

.single-eco-product-area-img h6 {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.single-eco-product-area-img h2 span {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.single-eco-product-area-img h2 {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-left: 19px;
}

/* ---------------------------------
eco-video-area
--------------------------------- */
.eco-video-area {
    background-image: url('../home-img/vedio.png');
    background-repeat: no-repeat;
    height: 396px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 420px;
    padding-left: 420px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.eco-video-area h2 {
    color: #FFF;
    font-family: var(--eco-primary-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-align: center;

}

.eco-video-area i {
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 36px;
    text-align: center;
    margin-left: 200px;
    margin-top: 30px;
}

/* -----------------------------------
eco-single-team-icon
------------------------------------ */
.eco-single-team-icon {
    background-image: url('../home-img/Image.png');
    background-repeat: no-repeat;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.eco-single-team-icon i,
.eco-subcribe-right-area-icon i {
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}

.eco-single-team-icon i {
    display: none;
}

.eco-single-team-icon i:hover {
    background-color: var(--eco-buttn-color);
    cursor: pointer;
}

.eco-single-team-member:hover .eco-single-team-icon i {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eco-single-team-content {
    padding: 20px;
    border: 1px solid #CCCCCC;
}

.eco-single-team-content h3 {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.eco-single-team-content p {
    color: var(--gray-scale-gray-500, #808080);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* ----------------------------------------
testimonial area 
----------------------------------------- */
.eco-single-slide-area {
    background-color: #fff;
    padding: 24px;
    width: 384px;
    height: 254px;
}

.eco-single-slide-profile-icon i {
    color: #FF8A00;
}

.eco-single-slide-profile-left-content h3 {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-heading-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

}

.eco-single-slide-profile-left-content P {
    color: var(--eco-text-color);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.eco-single-slide-area img {
    max-width: 30px;
    height: 26px;
}

.eco-single-slide-area p {
    color: var(--eco-secondary-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
}

.eco-single-slide-profile-left-img img {
    max-width: 56px;
    height: 56px;
}

/* ---------------------------------
subscribe area start
--------------------------------------- */

.eco-subscribe-left-content h3 {
    color: #fff;
    font-family: var(--eco-primary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.eco-subscribe-left-content p {
    color: #666;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 4px;
}

.eco-subcribe-right-area-input {
    position: relative;
}

.eco-subcribe-right-area-input input {
    padding: 14px 24px;
    width: 432px;
    color: var(--eco-text-color);
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: 1px solid #CCCCCC;
    border-radius: 50px;

}

.eco-subcribe-right-area-input a {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 18px 40px;
    color: #FFF;
    font-family: var(--eco-secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border-radius: 43px;
    background: var(--eco-buttn-color);
}

.eco-subcribe-right-area-icon i {
    width: 40px;
    height: 40px;
    color: #B3B3B3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.eco-subcribe-right-area-icon i:hover {
    background-color: var(--eco-buttn-color);
    color: #fff;
}



/* footer area 
------------------------ */
.eco-footer-logo-area p {
    color: var(--eco-secondary-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.eco-footer-logo-numbr h3 {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    box-shadow: 0px 1.5px 0px 0px #20B526;
}

.eco-footer-single-content a.active {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.eco-footer-single-content a {
    color: #666;
    font-family: var(--eco-heading-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.eco-mobile-footer-download h3 {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.eco-mobile-footer-download-single-app-content p {
    color: #4D4D4D;
    font-family: var(--eco-primary-font);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.eco-copy-right-area-left p {
    color: var(--eco-secondary-color);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* -----------------------------------------------------------------------------------
newsteller poppu area
------------------------------------------------------------------------------------ */
.newsletter-poppup-area {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 40px 10px 10px;


}

.newsletter-popup-left img {
    width: 354px;
    height: 380px;
    flex-shrink: 0;
}

.newsletter-popup-right h2 {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
}

.newsletter-popup-right p {
    color: var(--eco-text-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 12px;
    margin-bottom: 24px;

}

.newsletter-popup-right p span {
    color: #FF8A00;
}

.newteller-right-area-input {
    position: relative;
    text-align: center;
}

.newteller-right-area-input input {

    padding: 14px 24px;
    width: 432px;
    color: var(--eco-text-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: 1px solid #CCCCCC;
    border-radius: 50px;

}

.newteller-right-area-input a {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 40px;
    color: #FFF;
    font-family: var(--eco-secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border-radius: 43px;
    background: var(--eco-buttn-color);
}

/* ------------------------------------------------------------------------------------------------------------
shop area
----------------------------------------------------------------------------------- -------------------------*/
.eco-best-deal-area.eco-shop {
    background-image: url('../home-img/vedio.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 358px;
    flex-shrink: 0;
}

#timer div {
    color: #00B207;
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

#timer div span {
    margin-left: 8px;
    color: #fff;
    margin-right: 20px;
}

#timer div p {
    text-align: start;

    color: #FFF;
    font-family: var(--eco-primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

/* -------------------------------------------------------------------------------------------------------
product-view-right-all
---------------------------------------------------------------------------------------------------------- */
.product-view-all {
    width: 1320px;
    height: 636px;
    padding: 40px;
    border-radius: 8px;
    background: #FFF;

}

.product-view-right-all {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-view-right-heading-top h2 {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 43.2px */
}

.product-view-right-heading-top a {
    color: #2C742F;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(32, 181, 38, 0.20);
}

.product-view-right-heading-icon-star i {
    color: #FF8A00;
    font-size: 18px;
}

.product-view-right-heading-icon-star h6 {
    color: #666;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.product-view-right-heading-icon-star p {
    color: #666;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.product-view-right-heading-icon-star p::before {
    content: '.';
    margin-left: 5px;
    margin-right: 5px;
}

.product-view-right-heading-price del {
    color: #B3B3B3;
    font-family: var(--eco-primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: strikethrough;
}

.product-view-right-heading-price h3 {
    color: #2C742F;
    font-family: var(--eco-primary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.product-view-right-heading-price a {
    color: #EA4B48;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    padding: 3px 10px;
    align-items: center;
    border-radius: 30px;
    background: rgba(234, 75, 72, 0.10);
    margin-left: 12px;
}

.product-view-right-content-top-icon i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--eco-heading-color);
    font-size: 18px;

}

.product-view-right-content-top-content p {
    color: var(--eco-secondary-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 16px;
}

.product-view-right-content-top-icon i:hover {
    background-color: #00B207;
    color: #fff;
}



.product-view-right-content-cart-left i,
.product-view-right-content-cart-left p {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--eco-heading-color);
    font-size: 18px;
    background-color: #eeeeee;
    color: #666;
}

.product-view-right-content-cart-left p {
    background-color: transparent;
}

.product-view-right-content-cart-buton a {

    width: 368px;
    padding: 16px 40px;
    background-color: #00B207;
    border-radius: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #fff;
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.product-view-right-content-cart-icon i {
    width: 52px;
    height: 52px;
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 43px;
    background: rgba(32, 181, 38, 0.10);
    font-size: 20px;
    color: #2C742F;
    margin-left: 12px;
}

.product-view-bottom {
    color: var(--eco-secondary-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

/* -------------------------------------------------------------------------------
description-heading-area
---------------------------------------------------------------------------------- */
.description-left-right-content-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.description-heading-area ul li {
    padding: 16px;

}

.description-heading-area ul li a {
    padding-right: 16px;
    padding-left: 16px;
    background: var(--gray-scale-white, #FFF);
    color: var(--eco-text-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

}

.description-heading-area li:hover {
    background: var(--gray-scale-white, #FFF);
    box-shadow: 0px -2px 0px 0px #20B526 inset;
    cursor: pointer;
}

.description-heading-area a.active {
    padding: 16px;
    background: var(--gray-scale-white, #FFF);
    box-shadow: 0px -2px 0px 0px #20B526 inset;
    color: var(--eco-heading-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.description-single-cheak-area-icon {
    display: flex;
    gap: 11.5px;
    margin-bottom: 14px;
}

.description-single-cheak-area-icon i {
    width: 20px;
    height: 20px;
    font-size: 12.5px;
    border-radius: 100px;
    background: var(--branding-success, #00B207);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.description-single-area p {
    color: var(--eco-text-color);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.description-area-right-top {
    position: relative;
}

.description-area-right-top i {
    position: absolute;
    top: 129px;
    left: 236px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--eco-buttn-color);
}

.description-area-right-bottom-single-content h3 {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.description-area-right-bottom-single-content p {
    color: #808080;
    font-family: var(--eco-primary-font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 6px;
}

.description-area-right-bottom {
    border: 1px solid var(--eco-primary-color);
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* information area--------------------
----------------------------------- */
.single-information {
    display: flex;
    gap: 4px;
    padding-bottom: 12px;

}

.single-information h5 {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.single-information p {
    color: #666;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* ------------------------------
customar-feedback-single-top-left
-----------------------------------------*/
.customar-feedback-single {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 760px;

}

.customar-feedback-single p {
    color: var(--eco-secondary-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.customar-feedback-single-top-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.customar-feedback-single-top-left-name h5 {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.customar-feedback-single-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.product-view-right-heading-icon-star.active i {
    font-size: 12px;
}









/* ------------------------------------------------------------------------------
wishlist-hero-area
-------------------------------------------------------------------------------- */
.wishlist-hero-area {
    background-image: url('../home-img/vedio.png');
    background-repeat: no-repeat;
    height: 120px;
    padding-left: 300px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.wishlist-hero-area i {
    color: var(--eco-text-color);
    font-size: 16px;
}

.wishlist-hero-area a {
    color: #999;
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.wishlist-hero-area a.active {
    color: #00B207;
}

.my-whislist-heading h2 {
    color: var(--eco-heading-color);
    text-align: center;
    font-family: var(--eco-primary-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: 40px;
}

.my-whislist-content-area-all {
    padding: 24px;
    width: 1320px;
    height: 506px;
    margin-top: 32px;
    margin-bottom: 80px;
    border-radius: 8px;
    border: 1px solid var(--gray-scale-gray-100, #E6E6E6);
}

.my-whislist-content-area-heading a {
    color: var(--eco-secondary-color);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.my-whislist-content-left p,
.my-whislist-content-left-middle p {
    color: var(--eco-heading-color);
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.my-whislist-content-left-middle del {
    color: var(--eco-text-color);
    font-family: var(--eco-primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: strikethrough;
}

.my-whislist-content-right-middle a {
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(32, 181, 38, 0.20);
    color: #2C742F;
    font-family: var(--eco-primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.my-whislist-content-right-middle a.out-off {
    color: #EA4B48;
    background: rgba(234, 75, 72, 0.20);

}

.my-whislist-content-right i {
    width: 24px;
    height: 24px;
    border: 1px solid #999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
}

.my-whislist-content-right a.out-off {
    background: var(--gray-scale-gray-50, #F2F2F2);
    color: #B3B3B3;
}
.fixed{
    position: fixed;
    top: 0;
    right: 0;  
    left: 0; 
    z-index: 2;
}
.scrollTop{
    background-color: rgb(127, 140, 140);
    font-size: 20px;
    padding: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 50px;
}